section{
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 64px;

  justify-content: center;
  align-items: center;
}

section .flow-text{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 24px;
  gap: 24px;

  animation: fadeDown 1s;
}
section .flow-text h1{
  font-size: 1.6rem;
}

.card-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 0px 24px;
  overflow-x: scroll;
  scrollbar-width: none;
  overflow-y: hidden;
}

.card{
  opacity: 0;
  min-width: 300px;
  max-width: 300px;
  height: 300px;
  padding: 24px;
  background-color:#0C042780;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: cardFadeUp 1s;
  animation-delay: calc(var(--card-index) * 300ms);
  animation-fill-mode: forwards;
}
.card-indicator{
  width: fit-content;
  padding: 6px 24px 6px 12px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: center;
  background-color: #291F3680;
  border-radius: 100px;
}

.card-indicator h3{
  font-size: 0.85rem;
  font-family: var(--font-normal);
  font-weight: var(--font-weight-semiBold);
  color: var(--color-text-white);
}

.card-indicator svg{
  width: 32px;
  height: 32px;
}

.card-content{
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: start;
}

.card-content h1{
  font-size: 20px;
  font-family: var(--font-normal);
  font-weight: var(--font-weight-semiBold);
  color: var(--color-text-white);
}

.card-content .list-dots{
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: start;
}

.card-content  .list-dots .item-dot {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.card-content  .list-dots .item-dot p {
  font-size: 14px ;
  font-family: var(--font-normal);
  font-weight: var(--font-weight-regular);
  color: rgba(255, 255, 255, 0.8);
}

.card-content  .list-dots .item-dot svg{
  width: 16px;
  height: 16px;
}

.icon-wrapper{
  color: var(--focus-color);
}

.check-mark{
  color: var(--focus-color);
}

@media (min-width: 1024px){
  section .flow-text h1{
    font-size: 2.5rem;
  }

  section .flow-text p{
    font-size: 1.25rem;
  }

  .card-container{
    padding: 0px 128px;
    justify-content: center;
  }
}

@media (min-width: 1440px){

  section .flow-text h1{
    font-size: 3rem;
  }

  .card{
    height: 400px;
  }

  .card-content h1{
    font-size: 1.6rem;
  }

  .card-content  .list-dots .item-dot p{
    font-size: 1rem;
  }

  .card-content  .list-dots .item-dot svg{
    width: 20px;
    height: 20px;
  }

}

@keyframes fadeDown {
  from{
    transform: translateY(40px);
    opacity: 0;
  }

  to{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes cardFadeUp {
  from{
    transform: translateY(50px);
    opacity: 0;
  }

  to{
    transform: translateY(0);
    opacity: 1;
  }
}



