<header>
  <nav [class.menu-open]="isMenuOpen" [class.scrolled]="isScrolled">
    <div class="nav-top">
      <img (click)="redirectToHome()" ngSrc="assets/visual-identity/logotype.svg" alt="Logomarca da TECFY" height="24"
           width="92">

      <div class="hamburger" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span> </div>
    </div>

    <ul>
      <li><a  routerLink="/what-we-do" routerLinkActive="active" (click)="toggleMenu()">O Que Fazemos</a></li>
      <li><a routerLink="/about-us"  routerLinkActive="active" (click)="toggleMenu()">Quem Somos</a></li>
      <li><a routerLink=".price-section" routerLinkActive="active">Preços</a></li>
    </ul>

    <button (click)="redirectToContact()">Criar projeto</button>
  </nav>
</header>
