<header>
  <nav [class.menu-open]="isMenuOpen" [class.scrolled]="isScrolled">
    <div class="nav-top">
      <img (click)="redirectToHome()" src="assets/visual-identity/logotype.svg" alt="Logomarca da TECFY">

      <div class="hamburger" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span> </div>
    </div>

    <ul>
      <li><a href="/what-we-do">O Que Fazemos</a></li>
      <li><a href="/about-us">Quem Somos</a></li>
      <li><a href=".price-section">Preços</a></li>
    </ul>

    <button (click)="redirectToContact()">Criar projeto</button>
  </nav>
</header>
