.prices-section{
    margin-top: 24px;
    width: 100%;
    max-width: 1400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.title-section{
    width: 100%;
    font-size: var(--font-size-title-sm);
    font-weight: var(--font-weight-medium);
    color: var(--color-text-white);
    text-align: start;
}

.plans-group{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.notice{
    font-size: 10px;
    color: var(--color-text-secondary);
    text-align: start;

}

.plans{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;

}

.plan{
    background-color: var(--color-background-secondary);
    border-radius: 12px;
    padding: 24px;
    border: 1px solid var(--color-border-container);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.header-plan{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.header-plan .title{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: end;
}

.header-plan .title h3{
    font-size: 24px;
    font-weight: var(--font-weight-bold);
    color: var(--color-text-white);
}

.header-plan .title .recommended{
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    color: var(--color-blue);
}

.header-plan .price{
    font-size: 24px;
    font-weight: var(--font-weight-bold);
    color: var(--color-text-secondary);
}

.header-plan .price span{
    font-size: 14px;
}

.project-type{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.project-type .title-project-type{
    font-size: 16px;
    color: var(--color-text-secondary);
    font-weight: var(--font-weight-medium);
}

.project-type ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.project-type ul li{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.project-type ul li p{
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    color: var(--color-text-white);
}

.project-include{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 36px;
}

.project-include .title-project-include{
    font-size: 16px;
    color: var(--color-text-secondary);
    font-weight: var(--font-weight-medium);
}

.project-include ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.project-include ul li{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.project-include ul li p{
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    color: var(--color-text-white);
}

.cta-plan{
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.cta-plan button{
    padding: 10px 24px;
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
    background-color: #1F1F1F;
    border: 1px solid #2D2D2D;
    color: var(--color-text-white);
    border-radius: 999px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cta-plan button:hover{
    background-color: #2D2D2D;
}

.cta-plan .recomendado{
    background-color: var(--color-white);
    color: var(--color-background-secondary);
}

.cta-plan .recomendado:hover{
    background-color: #ffffffc4;
}



@media screen and (min-width: 480px) {
    .plans{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 786px) {
    .depoiments-section{
        margin-top: 80px;
        gap: 48px;
    }
 
    .title-section{
        font-size: var(--font-size-title-lg);
        text-align: center;
    }

    .notice{
        font-size: 14px;
    }

    .plans{
        grid-template-columns: repeat(4, 1fr);
    }
}