main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;

}

.policies{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.div-form{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form-titles{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form-titles h1{
    font-size: 24px;
    color: var(--color-text-white);
    font-weight: var(--font-weight-bold);
}

.form-titles h2{
    font-size: 20px;
    color: var(--color-text-secondary);
    font-weight: var(--font-weight-bold);
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.input-group label{
    font-size: 14px;
    font-weight: var(--font-weight-medium);
    color: var(--color-text-secondary);
}

.input-group label .mandatory{
    color: var(--color-blue);
}

.input-group label .optional{
    color: #242424;
}

.input-group input{
    height: 46px;
    padding: 12px 16px;
    border-radius: 12px;
    background-color: var(--color-background-secondary);
    border: 1px solid var(--color-border-container);
    font-size: 16px;
    color: var(--color-text-white);
    font-family: var(--font-family);
    font-weight: var(--font-weight-medium);
    transition: all 0.3s ease;
}

.input-group input:hover{
    border: 1px solid #8C8C8C;
}

form button{
    height: 46px;
    background-color: var(--color-white);
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
    font-size: 16px;
    color: var(--color-background);
    transition: all 0.3s ease;
    margin-top: 36px;
}
form button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

form button:hover{
    background-color: #CECECE;
}

@media screen and (min-width: 786px) {
    .div-form{
        gap: 48px;
    }

    .form-titles h2{
        font-size: 24px;
    }
}