<div class="cases-section">
  <h2 class="title-section">Nosso trabalho</h2>
  <div class="cases">
    @for (cases of casesList; track $index) {
      <div class="case">
        <div class="case-img-wrapper">
          <img [ngSrc]="cases.exampleImage" [alt]="'Imagem de exemplo do' + cases.projectType + cases.name " fill>
        </div>
        <div class="cases-expec">
          <h3>{{ cases.name }}</h3>
          <h4>{{ cases.projectType }}</h4>
        </div>
      </div>
    }
  </div>
</div>
