<div class="depoiments-section">
  <h2 class="title-section">O que dizem sobre nós</h2>

  <div class="depoiments">
    <div class="scroll-row">
      @for (d of depoiment; track $index) {
        @if ($index < depoiment.length / 2) {
          <div class="depoimento">
            <blockquote class="quote-text">
              <p>"{{d.depoimento}}"</p>
            </blockquote>
            <div class="people-info">
              <div class="people-info-text">
                <p class="name">{{d.nomeCliente}}</p>
                <cite class="function">{{d.funcaoEmpresa}}</cite>
              </div>
            </div>
          </div>
        }
      }
    </div>

    <div class="scroll-row">
      @for (d of depoiment; track $index) {
        @if ($index >= depoiment.length / 2) {
          <div class="depoimento">
            <blockquote class="quote-text">
              <p>"{{d.depoimento}}"</p>
            </blockquote>
            <div class="people-info">
              <div class="people-info-text">
                <p class="name">{{d.nomeCliente}}</p>
                <cite class="function">{{d.funcaoEmpresa}}</cite>
              </div>
            </div>
          </div>
        }
      }
    </div>
  </div>
</div>
