header{
    position: fixed;
    width: 100%;
    height: fit-content;
    background-color: transparent;
    display: flex;
    justify-content: center;
    z-index: 99;
    transition: background-color 0.3s ease;
}

header.scrolled{
    background-color: var(--color-background);
}

header nav{
    width: 100%;
    max-width: 1400px;
    padding: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

@media screen and (min-width: 786px) {
    header nav{
        padding: 40px 24px;
    }
  }

  