header{
    position: fixed;
    width: 100%;
    height: fit-content;
    padding: 1.5rem;
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
}

header nav{
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

@media screen and (min-width: 786px) {
    header{
        padding: 2.5rem 1.5rem;
    }
  }