<main>
  <section>
    <div class="apresentation">
      <h1>{{titleSection}}</h1>
      <p>Última atualização em {{lastUpdateDate}}.</p>
    </div>

    <div class="summary">
      <p>Conteúdo</p>
      <div class="content_summary">
        @for (term of terms; track $index) {
          <a href="#{{term.titulo}}">{{term.titulo}}</a>
        }
      </div>
    </div>

    @for (term of terms; track $index) {
      <div class="term" id="{{term.titulo}}">
        <h2>{{term.titulo}}</h2>

        @if (term.conteudoGeral) {
          <ng-container *ngTemplateOutlet="contentRenderer; context: {$implicit: term.conteudoGeral}"></ng-container>
        }

        @if (term.subsecoes) {
          <ol type="A" class="sub-terms-list">
            @for (sub of term.subsecoes; track $index) {
              <li>
                <strong>{{ sub.titulo }}</strong>

                <ng-container *ngTemplateOutlet="contentRenderer; context: {$implicit: sub.conteudo}"></ng-container>
              </li>
            }
          </ol>
        }
      </div>
    }

  </section>
</main>

<ng-template #contentRenderer let-blocos>
  @for (bloco of blocos; track $index) {

    @if (bloco.tipo === 'paragrafo') {
      <p>{{ bloco.texto }}</p>
    }

    @if (bloco.tipo === 'lista') {
      <ul>
        @for (item of bloco.itens; track $index) {
          <li>{{ item }}</li>
        }
      </ul>
    }

    @if (bloco.tipo === 'destaque') {
      <div class="announcement">
        <p>{{ bloco.texto }}</p>
      </div>
    }
  }
</ng-template>
