@import './reset.css';
@import './variables.css';


body, html {
  background-color: var(--color-background);
  color: var(--color-text-white);
  font-family: var(--font-family);
  height: auto;
  overflow: visible;
  scroll-behavior: smooth;
}

/* Para a maioria dos navegadores */
::selection {
  background-color: var(--color-blue);
  color: var(--color-text-white);
}

/* Para compatibilidade com o Firefox mais antigo */
::-moz-selection {
  background-color: var(--color-blue);
  color: var(--color-text-white);
}
