.hero-section {
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* MODIFICAÇÃO: Cria o contexto de posicionamento */
  position: relative;
  overflow: hidden;
}

.hero-section .hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 1.5rem;

  /* MODIFICAÇÃO: Garante que o conteúdo fique na camada de cima */
  position: relative;
  z-index: 2;
}

/* NOVO CÓDIGO PARA O VÍDEO DE FUNDO */
.hero-section .hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.hero-section .hero-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;

}
/* FIM DO NOVO CÓDIGO */


.hero-section .hero-content h2{
  font-size: 1.25rem;

  animation: fadeDown 1s;
}

.hero-section .hero-content h1{
  font-size: 2rem;

  animation: fadeDown 1.1s;
}

.hero-section .hero-content p{
  font-size: 1rem;
  padding: 0px 32px;
  animation: fadeDown 1.2s;
}

.separator-black{
  position: absolute;
  top: 88vh;
  width: 100%;
  height: 200px;
  background: linear-gradient(180deg, rgba(5, 1, 9, 0), rgb(5, 1, 9), rgb(5, 1, 9), rgba(5, 1, 9, 0));
  z-index: 2;
}

.flow-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.plans-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

}

.flow-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.flow-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flow-content {
  position: absolute;
  top: 0;
  left: 0;
width: 100%;
  height: 100%;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.plans-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.choices-section{
  width: 100%;
  padding: 64px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
}

.cases-section{
  width: 100%;
  padding: 64px 0;
  display: flex;
  justify-content: center;
  background-color: var(--color-white);
}

.plans-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.plans-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(180deg);
}

/* Media query para tablet */

@media (min-width: 768px){
  .hero-section .hero-content{
    gap: 1.5rem;
    padding: 1.5rem 8rem;
  }

  .hero-section .hero-content h2{
    font-size: 1.6rem;
  }

  .hero-section .hero-content h1{
    font-size: 2rem;
  }

  .hero-section .hero-content p{
    width: 50%;
    font-size: 1.25rem;
  }

  .flow-section{
    height: 150vh;
  }

  .plans-section{
    height: 150vh;
  }
}

/* Media query para desktop */

@media (min-width: 1024px){
  .hero-section .hero-background video{
    object-position: calc(50% - 0.75rem) 50%;
  }
  .hero-section .hero-content h1{
    font-size: 3rem;
  }

  .separator-black{
    top: 90.5vh;
  }

  .flow-section{
    height: 180vh;
  }

  .plans-section{
    height: 180vh;
  }
}

@media (min-width: 1440px){
  .flow-section{
    height: 120vh;
  }

  .plans-section{
    height: 120vh;
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-64px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
