<div class="faq-section" itemscope itemtype="https://schema.org/FAQPage">

  <div class="content-texts">
    <h2 class="title-section">FAQs</h2>
    <p>As dúvidas frequentes que nossos clientes têm sobre os serviços da TECFY.</p>

    <div class="question-response">
      <p><span>+</span>100</p>
      <p>Perguntas respondidas</p>
    </div>
  </div>

  <div class="faqs-group">
    @for (ask of faq; track $index) {
      <div class="acordeon" itemprop="mainEntity" itemscope itemtype="https://schema.org/Question">

        <button
          class="question-line"
          (click)="toggleAccordion($index)"
          [attr.aria-expanded]="isOpen($index)"
          [attr.aria-controls]="'faq-content-' + $index">

          <h3 itemprop="name">{{ask.question}}</h3>

          <img
            src="assets/icons/icon-arrow-acordeon.svg"
            alt=""
            aria-hidden="true"
            [class.rotated]="isOpen($index)">
        </button>

        <div
          class="response-container"
          [class.open]="isOpen($index)"
          id="faq-content-{{$index}}"
          itemprop="acceptedAnswer" itemscope itemtype="https://schema.org/Answer">

          <p class="response" itemprop="text">{{ask.response}}</p>
        </div>

      </div>
    }
  </div>
</div>
